<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
		
		<add key="ApiServer" value="https://concept.api.elliemae.com"/>
		<add key="client_id" value="hjqqg76"/>
		<add key="client_secret" value="07CKZqZ5#0atmzTJDGwxAk!SgL6yauqDkCYYopTE6wzV0X2A#IhbKCfo7AWs825B"/>
		<add key="instance_id" value="TEBE11165448"/>
		<add key="grant_type" value="client_credentials"/>
		<add key="scope" value="lp"/>

		
	</startup>
</configuration>
