<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
		
		<add key="ApiServer" value="https://yyyyyyyyyyyyyy.com"/>
		<add key="client_id" value="yyyyy"/>
		<add key="client_secret" value="yyyyyyyyyyyyyyyyyyyyyyyyy"/>
		<add key="instance_id" value="yyyyyyyyyy"/>
		<add key="grant_type" value="yyyyyyy"/>
		<add key="scope" value="yyi"/>

		
	</startup>
</configuration>
